/***********************************************************/
/***************ROOT SETTINGS**********************************/
/***********************************************************/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img,
picture {
  max-width: 100%;
  display: block;
}
body {
  font-family: 'Poppins', sans-serif;
  color: hsl(146, 26%, 23%);
}

:root {
  --error-color: #cf000f;
  --succes-color: rgba(105, 221, 157, 0.712);
}
input[type='number']::-webkit-inner-spin-button {
  display: none;
}
/* input[type='number'] {
  -moz-appearance: textfield;
} */

/***********************************************************/
/***************INDEX PAGE**********************************/
/***********************************************************/

.container-all-ads {
  max-width: 100%;
}
.container {
  width: 1200px;
  max-width: 90%;
  margin: 0 auto;
}
.body {
  background-color: #fafafa;
}
/********HEADING-NAVIGATION SECTION************/
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 50px;
  background-color: #fafafa;
}
.logo {
  max-width: 150px;
}
.navigation-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  color: hsl(146, 26%, 23%);
  font-weight: 500;
}
.navigation-link {
  list-style: none;
}
.navigation-link a {
  text-decoration: none;
  color: hsl(146, 26%, 23%);
}
.navigation-link a:link,
.navigation-link a:visited {
  color: hsl(146, 26%, 23%);
}

.navigation-link a:hover,
.navigation-link a:active {
  color: hsl(146, 26%, 23%);
}
/********HERO SECTION************/
.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding: 40px 50px;
  background-color: #fafafa;
}
.hero-images {
  flex: 0 1 45%;
}

.hero-text {
  display: flex;
  flex-direction: column;
  flex: 0 0 55%;
}
.hero-heading {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
}
.hero-paragraph {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 40px;
}

/************* CATEGORIES CONTAINER ************************/
/***********************************************************/
.show-category {
  width: 1200px;
  /* max-width: 90%; */
  margin: 100px auto 0;
}
.categories {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  grid-template-rows: repeat(4, 1fr);
  justify-content: center;
  grid-row-gap: 35px;
  grid-column-gap: 25px;
  padding: 30px 18px 100px;

  height: 100%;
}
.flex-category {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border: 2px solid black;
}
.flex-category img {
  width: 80%;
  height: 60%;
}

/******************************************************/
/*****************BUTTONS*******************************/
/******************************************************/

.btn-first,
.btn-registration,
.btn-login,
.btn-edit {
  box-shadow: 0px 1px 0px 0px #f0f7fa;
  background: linear-gradient(to bottom, #2fc59d 5%, #27daaa 100%);
  background-color: #2fc59d;
  border-radius: 6px;
  border: 1px solid #2fc59d;
  display: inline-block;
  cursor: pointer;
  color: #fafafa;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: bold;
  padding: 8px 26px;
  text-decoration: none;
  /* text-shadow: 0px -1px 0px #5b6178; */
  /*ovo je da dugmici budu jednake duzine   */
  /* flex: 0 0 30%;
  text-align: center; */
}
/******************************************************/
.btn-search {
  box-shadow: 0px 1px 0px 0px #f0f7fa;
  background: linear-gradient(to bottom, #2fc59d 5%, #27daaa 100%);
  background-color: #2fc59d;
  border-radius: 6px;
  border: 1px solid #2fc59d;
  display: inline-block;
  cursor: pointer;
  color: #fafafa;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: bold;
  padding: 2px 4px;
  text-decoration: none;
}
.btn-second {
  box-shadow: 0px 1px 0px 0px #f0f7fa;
  /* background: linear-gradient(to bottom, #2fc59d 5%, #27daaa 100%); */
  background-color: #fafafa;
  border-radius: 6px;
  border: 2px solid #2ed3a7;
  display: inline-block;
  cursor: pointer;
  color: #2fc59d;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: bold;
  padding: 8px 26px;
  text-decoration: none;
}
.btn-first:hover,
.btn-registration:hover,
.btn-login:hover,
.btn-edit:hover,
.btn-search:hover {
  background: linear-gradient(to bottom, #56d3b2 5%, #31fdc7 100%);
  background-color: #34d4aa;
}
.btn-second:hover {
  background: linear-gradient(to bottom, #2fc59d 5%, #27daaa 100%);
  background-color: #34d4aa;
  color: #fafafa;
}

.btn:active {
  position: relative;
  top: 1px;
}
.hero-btns {
  display: flex;
  justify-content: start;
  gap: 20px;
}
/***********************************************************************/
/********REGISTRATION AND LOGIN PAGE************************************/
/**********************************************************************/
.body-registration,
.body-login,
.body-edit {
  background-color: #fafafa;
}
.registration-container,
.login-container,
.edit-container,
.ad-edit-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: #fff;
  border-radius: 5px;
  /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); */
  box-shadow: 0 2px 10px rgb(45, 113, 76, 0.3);
  width: 400px;
}
.login-container,
.edit-container {
  top: 40%;
}
.ad-edit-container {
  top: 50%;
}
.form {
  padding: 15px 30px;
  font-family: inherit;
}
.form-login,
.form-edtit {
  padding: 30px 40px;
}
.form-login h2 {
  margin-bottom: 30px;
}
.form h2 {
  margin-bottom: 10px;
  color: hsl(147, 43%, 31%);
}
.form-login h2 {
  margin-bottom: 20px;
}
.form-control {
  margin-bottom: 1px;
  padding-bottom: 12px;
  position: relative;
}
label {
  color: hsl(147, 43%, 31%);
}
/* .form-control label {
  color: #777;
} */
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  text-align: center;
  /* color: rgba(81, 212, 140, 0.589); */
  color: hsl(147, 19%, 25%);
}
.form-control:not(.gender):not(.admin) input,
.form-control textarea {
  border: 2px solid rgba(105, 221, 157, 0.712);
  border-radius: 4px;
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  color: hsl(147, 19%, 25%);
  font-size: 14px;
  display: block;
  font-family: inherit;
}

.form-control:not(.gender):not(.admin) input:focus,
.form-control textarea:focus {
  outline: 0;
  border: 2px solid #777;
}
.form-control .login input {
  padding: 20px;
}

.gender,
.admin {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.btn-registration,
.btn-login {
  width: 100%;
  display: block;
}

.form-control.success input,
.form-control.success textarea {
  border-color: var(--success-color);
}

.form-control.error:not(.gender):not(.admin) input,
.form-control.error textarea {
  border-color: var(--error-color);
}

.form-control small {
  color: var(--error-color);
  position: absolute;
  bottom: 0;
  left: 10px;
  visibility: hidden;
  /* margin-bottom: 1px; */
}

.form-control.error small {
  visibility: visible;
}
.label-add {
  visibility: hidden;
}
.label-visible {
  visibility: visible;
}
/*********************************************************/
/******************SELECT - CATEGORIES**********************/
/********************************************************/

.category-select {
  appearance: none;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 7px;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
  color: hsl(147, 19%, 25%);
  grid-area: select;
}
.option-center {
  text-align: center;
}
.category-div-select {
  margin-top: 15px;
  width: 100%;
  border: 2px solid rgba(105, 221, 157, 0.712);
  border-radius: 4px;
  margin-bottom: 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
  display: grid;
  grid-template-areas: 'select';
  align-items: center;
}

.category-div-select::after {
  content: '';
  width: 0.8em;
  height: 0.5em;
  background-color: rgba(105, 221, 157, 0.712);
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  display: grid;
  grid-area: select;
  justify-self: self-end;
}
.category-search {
  color: hsl(147, 19%, 25%);
  border: 2px solid rgba(105, 221, 157, 0.712);
  border-radius: 4px;
  padding: 1px;
}

/*************************************************************/
/******************* ALL ADS PAGE ****************************/
/*************************************************************/

.btn-post-ads {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  box-shadow: 0px 1px 0px 0px #f0f7fa;
  background: linear-gradient(to bottom, #2fc59d 5%, #27daaa 100%);
  background-color: #2fc59d;
  border-radius: 50px;
  border: 1px solid #2fc59d;
  text-decoration: none;
  cursor: pointer;
  color: #fafafa;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 30px;
  transition: all 0.1s ease-in;
}
.btn-post-ads:hover,
.btn-post-ads:active {
  background: linear-gradient(to bottom, #56d3b2 5%, #44e2b8 100%);
  background-color: #34d4aa;
}

.search-section {
  height: 220px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-image: linear-gradient(
      to bottom,
      rgba(34, 34, 34, 0.3),
      rgba(34, 34, 34, 0.3)
    ),
    url(/image/Scene1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right center;
  color: #fff;
}
.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 85%;
  background-color: #fff;
  padding: 20px 30px;
  border-radius: 8px;
  margin-bottom: -30px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  font-size: 16px;
  cursor: pointer;
}

.select-search,
.input-search {
  appearance: none;
  background-color: transparent;
  width: 60%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
  color: hsl(147, 19%, 25%);
  border: none;
  padding: 10px;
}
.select-search {
  color: #c3c2c2;
}
.input-search::placeholder {
  text-align: left;
  color: #c3c2c2;
}
.searchs {
  border-right: 1px solid #2fc59d;
}
.button-search {
  background-color: #2fc59d;
  border-radius: 8px;
  color: #fff;
  font-weight: 600;
}
.button-search:hover {
  background: linear-gradient(to bottom, #56d3b2 5%, #44e2b8 100%);
  background-color: #34d4aa;
  font-weight: 600;
}
/***************** SHOW ADS ****************************/
.container-search {
  background-color: #fafafa;
  padding-bottom: 12px;
}
.section-showads {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 90px;
  width: 90%;
  margin: 0 auto;
  gap: 35px;
}
.container-results {
  display: flex;
  justify-content: space-between;
  width: 94%;
  align-items: center;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 20px 30px;
  border-radius: 8px;
  color: hsl(147, 19%, 25%);
  font-weight: 600;
  font-size: 18px;
}
.sorting-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.price-select {
  appearance: auto;
  background-color: transparent;
  font-family: inherit;
  font-size: 14px;
  cursor: inherit;
  line-height: inherit;
  outline: none;
  color: hsl(147, 19%, 25%);
  border: 2px solid rgba(105, 221, 157, 0.712);
  border-radius: 6px;
  padding: 2px 6px;
}

.no-results {
  margin-top: 25px;
  color: hsl(147, 19%, 25%);
  font-weight: 600;
  font-size: 18px;
}

.hidden {
  display: none;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 35px;
  grid-column-gap: 25px;
  padding: 30px 0 100px;
}

.one-product {
  width: 70%;
  margin: 0 auto 35px;
}
.ad-one-card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}
.ad-cards {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  overflow: auto;
  transition: all 0.4s;
  flex: 1 0 23%;
}

.ad-cards:hover {
  transform: translateY(-12px);
  box-shadow: 18px 18px 16px rgba(0, 0, 0, 0.43);
}

.product-image,
.product-image2 {
  aspect-ratio: 1/1;
  object-fit: cover;
}
.product-image2 {
  box-shadow: 18px 18px 16px rgba(0, 0, 0, 0.43);
}
.card-info,
.card-info2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 24px;
  gap: 8px;
}
.card-info2 {
  gap: 16px;
}
.card-info p {
  overflow: hidden;
}
.product-name {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 8px;
  cursor: pointer;
  text-decoration: none;
  color: #333;
  transition: all 0.2s ease-out;
}
.product-name2 {
  font-size: 36px;
  font-weight: 700;
}
.product-name:hover {
  color: #1b8e70;
  text-decoration: underline #1b8e70;
}
.product-category {
  display: inline-block;
  padding: 4px 8px;
  font-size: 12px;
  text-transform: uppercase;
  color: #333;
  border-radius: 100px;
  font-weight: 600;
  background-color: #51cf66;
}
.product-category2 {
  display: inline-block;
  padding: 8px 20px;
  font-size: 20px;
  text-transform: uppercase;
  color: #333;
  border-radius: 100px;
  font-weight: 600;
  background-color: #51cf66;
}

.product-likes,
.product-likes2 {
  margin-bottom: 6px;
}
.product-likes2 {
  font-size: 22px;
}
.product-author,
.author-city {
  margin-bottom: 5px;
}
.product-author2,
.author-city2 {
  font-size: 18px;
}
.product-price {
  font-weight: 700;
}
.product-price2 {
  font-size: 22px;
  font-weight: bolder;
}
.product-likes,
.product-author,
.author-city,
.product-price {
  font-size: 18px;
}

.flex-card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}
.flex-card i {
  align-self: center;
}

/*************************************************************/
/******************** FOOTER *********************************/
/*************************************************************/

.site-footer {
  background-color: #2f4f4f;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}

.site-footer p {
  color: #bab9b9;
}
.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}
.site-footer hr.small {
  margin: 20px 0;
}
.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
.site-footer a {
  color: #737373;
}
.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links {
  padding-left: 0;
  list-style: none;
}
.footer-links li {
  display: block;
}
.footer-links a {
  color: #bab9b9;
  cursor: pointer;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #fff;
  text-decoration: none;
}
.footer-links.inline li {
  display: inline-block;
}
.site-footer .social-icons {
  text-align: right;
}
.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}
.copyright-text {
  margin: 0;
}

.site-footer [class^='col-'] {
  margin-bottom: 30px;
}

.site-footer {
  padding-bottom: 0;
}
.site-footer .copyright-text,
.site-footer .social-icons {
  text-align: center;
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}
.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}
.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}
.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}
.social-icons a.facebook:hover {
  background-color: #3b5998;
}
.social-icons a.twitter:hover {
  background-color: #00aced;
}
.social-icons a.linkedin:hover {
  background-color: #007bb6;
}
.social-icons a.dribbble:hover {
  background-color: #ea4c89;
}
.social-icons li.title {
  display: block;
  margin-right: 0;
  font-weight: 600;
}
