/***********************************************************/
/***************ROOT SETTINGS**********************************/
/***********************************************************/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img,
picture {
  max-width: 100%;
  display: block;
}
body {
  font-family: 'Poppins', sans-serif;
  color: hsl(146, 26%, 23%);
}

:root {
  --error-color: #cf000f;
  --succes-color: rgba(105, 221, 157, 0.712);
}

/***********************************************************/
/***************INDEX PAGE**********************************/
/***********************************************************/

.container {
  width: 1200px;
  max-width: 90%;
  margin: 0 auto;
}
/********HEADING-NAVIGATION SECTION************/
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 50px;
  background-color: #fafafa;
}
.logo {
  max-width: 150px;
}
.navigation-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: hsl(146, 26%, 23%);
}
.navigation-link {
  list-style: none;
}
.navigation-link a {
  text-decoration: none;
  color: hsl(146, 26%, 23%);
}
.navigation-link a:link,
.navigation-link a:visited {
  color: hsl(146, 26%, 23%);
}

.navigation-link a:hover,
.navigation-link a:active {
  color: hsl(146, 26%, 23%);
}
/********HERO SECTION************/
.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding: 40px 50px;
  background-color: #fafafa;
}
.hero-images {
  flex: 0 1 45%;
}

.hero-text {
  display: flex;
  flex-direction: column;
  flex: 0 0 55%;
}
.hero-heading {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
}
.hero-paragraph {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 40px;
}
/*******BUTTONS*********/

.btn-first,
.btn-registration,
.btn-login,
.btn-edit {
  box-shadow: 0px 1px 0px 0px #f0f7fa;
  background: linear-gradient(to bottom, #2fc59d 5%, #27daaa 100%);
  background-color: #2fc59d;
  border-radius: 6px;
  border: 1px solid #2fc59d;
  display: inline-block;
  cursor: pointer;
  color: #fafafa;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: bold;
  padding: 8px 26px;
  text-decoration: none;
  /* text-shadow: 0px -1px 0px #5b6178; */
  /*ovo je da dugmici budu jednake duzine   */
  /* flex: 0 0 30%;
  text-align: center; */
}
.btn-second {
  box-shadow: 0px 1px 0px 0px #f0f7fa;
  /* background: linear-gradient(to bottom, #2fc59d 5%, #27daaa 100%); */
  background-color: #fafafa;
  border-radius: 6px;
  border: 2px solid #2ed3a7;
  display: inline-block;
  cursor: pointer;
  color: #2fc59d;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: bold;
  padding: 8px 26px;
  text-decoration: none;
}
.btn-first:hover,
.btn-registration:hover,
.btn-login:hover,
.btn-edit:hover {
  background: linear-gradient(to bottom, #56d3b2 5%, #31fdc7 100%);
  background-color: #34d4aa;
}
.btn-second:hover {
  background: linear-gradient(to bottom, #2fc59d 5%, #27daaa 100%);
  background-color: #34d4aa;
  color: #fafafa;
}

.btn:active {
  position: relative;
  top: 1px;
}
.hero-btns {
  display: flex;
  justify-content: start;
  gap: 20px;
}
/***********************************************************************/
/********REGISTRATION AND LOGIN PAGE*********************************************/
/**********************************************************************/
.body-registration,
.body-login,
.body-edit {
  background-color: #fafafa;
}
.registration-container,
.login-container,
.edit-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: #fff;
  border-radius: 5px;
  /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); */
  box-shadow: 0 2px 10px rgb(45, 113, 76, 0.3);
  width: 400px;
}
.login-container,
.edit-container {
  top: 40%;
}
.form {
  padding: 15px 30px;
  font-family: inherit;
}
.form-login,
.form-edtit {
  padding: 30px 40px;
}
.form-login h2 {
  margin-bottom: 30px;
}
.form h2 {
  margin-bottom: 10px;
  color: hsl(147, 43%, 31%);
}
.form-login h2 {
  margin-bottom: 20px;
}
.form-control {
  margin-bottom: 1px;
  padding-bottom: 15px;
  position: relative;
}

/* .form-control label {
  color: #777;
} */
input::-webkit-input-placeholder {
  text-align: center;
  /* color: rgba(81, 212, 140, 0.589); */
  color: hsl(147, 19%, 25%);
}
.form-control:not(.gender):not(.admin) input {
  border: 2px solid rgba(105, 221, 157, 0.712);
  border-radius: 4px;
  width: 100%;
  padding: 7px;
  margin-top: 5px;
  font-size: 14px;
  color: hsl(147, 19%, 25%);
  font-size: 16px;
  display: block;
}
.form-control input:focus {
  outline: 0;
  border-color: #777;
}
.form-control .login input {
  padding: 20px;
}

.gender,
.admin {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.btn-registration,
.btn-login {
  width: 100%;
  display: block;
}
.btn-login {
  margin-top: 15px;
}

.form-control.success input {
  border-color: var(--success-color);
}

.form-control.error:not(.gender):not(.admin) input {
  border-color: var(--error-color);
}

.form-control small {
  color: var(--error-color);
  position: absolute;
  bottom: 0;
  left: 10px;
  visibility: hidden;
  /* margin-bottom: 1px; */
}

.form-control.error small {
  visibility: visible;
}
/*********************************************************/
/******************CATEGORIES**********************/
/********************************************************/
/* 
.category-select {
  appearance: none;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 7px;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
  color: hsl(147, 19%, 25%);
  grid-area: select;
}
.category-div-select {
  width: 100%;
  border: 2px solid rgba(105, 221, 157, 0.712);
  border-radius: 4px;
  margin-bottom: 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
  display: grid;
  grid-template-areas: 'select';
  align-items: center;
}

.category-div-select::after {
  content: '';
  width: 0.8em;
  height: 0.5em;
  background-color: rgba(105, 221, 157, 0.712);
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  display: grid;
  grid-area: select;
  justify-self: self-end;
} */
